extends layout

block styles

block content
  div.container(ng-app="app" ng-controller="boardCtrl")
    img(src="/images/ship1.png" id="ship1" data-drag="true" data-jqyoui-options="{revert: 'invalid', revertDuration: 500}" jqyoui-draggable="{animate: true}")
    img(src="/images/ship2.png" id="ship2" data-drag="true" data-jqyoui-options="{revert: 'invalid', revertDuration: 200}" jqyoui-draggable="{animate: true}")
    img(src="/images/ship3.png" id="ship3" data-drag="true" data-jqyoui-options="{revert: 'invalid', revertDuration: 200}" jqyoui-draggable="{animate: true}")
    img(src="/images/ship4.png" id="ship4" data-drag="true" data-jqyoui-options="{revert: 'invalid', revertDuration: 200}" jqyoui-draggable="{animate: true}")
    img(src="/images/ship5.png" id="ship5" data-drag="true" data-jqyoui-options="{revert: 'invalid', revertDuration: 200}" jqyoui-draggable="{animate: true}")
    img(src="/images/ship6.png" id="ship6" data-drag="true" data-jqyoui-options="{revert: 'invalid', revertDuration: 200}" jqyoui-draggable="{animate: true}")
    board(id="myBoard")
      table
        tbody.board

    button ready

block scripts
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js")
  script(src="javascripts/external/angular-dragdrop.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.js")
  script(src="/javascripts/board.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/socket.js")