extends layout

block styles

block content
  div.container(ng-app="app")
    img.draggable(src="/images/ship1.png" id="ship1")
    img.draggable(src="/images/ship2.png" id="ship2")
    img.draggable(src="/images/ship3.png" id="ship3")
    img.draggable(src="/images/ship4.png" id="ship4")
    img.draggable(src="/images/ship5.png" id="ship5")
    img.draggable(src="/images/ship6.png" id="ship6")
    board(id="myBoard")
      table
        tbody.board

    button ready

block scripts
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js")
  script(src="https://npmcdn.com/draggabilly@2.1/dist/draggabilly.pkgd.min.js")
  script(src="/javascripts/board.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/socket.js")