extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  div Double click on a ship to rotate it
  div(id="msg") Place you ships
  div.container(ng-app="board" ng-controller="boardCtrl")
    button(id="readyBtn") ready!
    div
      table(id="myBoard")
        tbody.board

      table(id="enemyBoard")
        tbody.board

    div(style="width: 200px; height: 50px;")
      img(src="/images/ship1.png" class="ship one" id="ship1" data-drag="true" data-jqyoui-options="{revert: 'invalid', revertDuration: 200, grid: [55, 52], snap: true}" jqyoui-draggable="{animate: true}")
    div(style="width: 150px; height: 50px;")
      img(src="/images/ship2.png" class="ship two" id="ship2" data-drag="true" data-jqyoui-options="{revert: 'invalid', revertDuration: 200, grid: [55, 52], snap: true}" jqyoui-draggable="{animate: true}")
    div(style="width: 100px; height: 50px;")
      img(src="/images/ship3.png" class="ship three" id="ship3" data-drag="true" data-jqyoui-options="{revert: 'invalid', revertDuration: 200, grid: [55, 52], snap: true}" jqyoui-draggable="{animate: true}")
    div(style="width: 150PX; height: 50px;")
      img(src="/images/ship4.png" class="ship four" id="ship4" data-drag="true" data-jqyoui-options="{revert: 'invalid', revertDuration: 200, grid: [55, 52], snap: true}" jqyoui-draggable="{animate: true}")
    div(style="width: 150px; height: 50px;")
      img(src="/images/ship5.png" class="ship five" id="ship5" data-drag="true" data-jqyoui-options="{revert: 'invalid', revertDuration: 200, grid: [55, 52], snap: true}" jqyoui-draggable="{animate: true}")
    div(style="width: 150px; height: 50px;")
      img(src="/images/ship6.png" class="ship six" id="ship6" data-drag="true" data-jqyoui-options="{revert: 'invalid', revertDuration: 200, grid: [55, 52], snap: true}" jqyoui-draggable="{animate: true}")


block scripts
  script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js")
  script(src="../javascripts/external/angular-dragdrop.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.js")
  script(src="../javascripts/game/boardMaker.js")
  script(src="../javascripts/game/board.js")
  script(src="../socket.io/socket.io.js")
  script(src="../javascripts/game/gameSocket.js")