extends layout-auth

block content
  div
    p Welcome
      span=user.firstName
  div
    div(id="msg")
    img(src!=user.picture)
  button(id="playButton") Play!

block scripts
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/home/homeSocket.js")
  script(src="/javascripts/home/home.js")

