extends layout-auth

block content
  p Welcome
    span=user.firstName
  button(id="playButton") Play!

block scripts
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/home/homeSocket.js")
  script(src="/javascripts/home/home.js")

