extends layout

block content
  div(ng-app="index" ng-controller="indexCtrl")
    h1= title
    p Welcome to #{title}

    fb:login-button(scope="public_profile,email" onlogin="checkLoginState();")
    div(id="status")

block scripts
  script(src="/javascripts/index/index.js")
  script(src="/javascripts/index/fb.js")
