body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table > tbody >tr > th {
  width: 35px;
}

table > tbody >tr {
  height: 50px;
}

.sea {
  border: 1px solid black;
}

.ship.one {
  width: 213px;
  height: 31px;
}

.ship.one.rotated {
  width: 31px;
  height: 213px;
}

.ship.two {
  width: 173px;
  height: 54px;
}

.ship.two.rotated {
  width: 54px;
  height: 173px;
}

.ship.three {
  width: 125px;
  height: 42px;
}

.ship.three.rotated {
  width: 42px;
  height: 125px;
}

.ship.four {
  width: 143px;
  height: 49px;
}

.ship.four.rotated {
  width: 49px;
  height: 143px;
}

.ship.five {
  width: 71px;
  height: 41px;
}

.ship.five.rotated {
  width: 41px;
  height: 71px;
}

.ship.six {
  width: 170px;
  height: 56px;
}

.ship.six.rotated {
  width: 56px;
  height: 170px;
}

