body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table > tbody >tr > th {
  width: 50px;
}

table > tbody >tr {
  height: 50px;
}

.sea {
  border: 1px solid black;
}

.ship.one {
  width: 200px;
  height: 50px;
}

.ship.one.rotated {
  width: 50px;
  height: 200px;
}

.ship.two {
  width: 150px;
  height: 50px;
}

.ship.two.rotated {
  width: 50px;
  height: 150px;
}

.ship.three {
  width: 100px;
  height: 50px;
}

.ship.three.rotated {
  width: 50px;
  height: 100px;
}

.ship.four {
  width: 150px;
  height: 50px;
}

.ship.four.rotated {
  width: 50px;
  height: 150px;
}

.ship.five {
  width: 100px;
  height: 50px;
}

.ship.five.rotated {
  width: 50px;
  height: 100px;
}

.ship.six {
  width: 150px;
  height: 50px;
}

.ship.six.rotated {
  width: 50px;
  height: 150px;
}

