body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table > tbody >tr > th {
  width: 35px;
}

table > tbody >tr {
  height: 50px;
}

#ship1 {
  width: 213px;
  height: 31px;
}

#ship2 {
  width: 173px;
  height: 54px;
}

#ship3 {
  width: 125px;
  height: 42px;
}

#ship4 {
  width: 143px;
  height: 49px;
}

#ship5 {
  width: 71px;
  height: 41px;
}

#ship6 {
  width: 170px;
  height: 56px;
}

.rotate {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
