body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/public/assets/backgroud.jpg");

}

a {
  color: #00B7FF;
}
nav{
  background-color: #444444;
  color: white;
}
.brand-logo{
  margin-left: 42%;
}
#home{
  text-align: center;
}
.fb{
  background-color: #444444;
  color: white;
  font-size: 30px;
  text-align: center;
  margin-left: 37%;
  margin-top: 8%;
}